@using Application.Web.ViewModels.UserRelated.Chats
@model ChatsViewModel

<ul style="list-style-type:none;">
    @foreach (var chatUser in Model.Users)
    {
        <li>
            <a asp-controller="User" asp-action="Profile" asp-route-id="@chatUser.Id">
                <div>
                    <div>
                        <img src="@chatUser.ProfileImagePath" width="50" alt="user image">
                    </div>
                    <div>
                        <span class="user">@chatUser.UserName</span>
                    </div>
                </div>
            </a>
        </li>
    }
</ul>
