@using Application.Common
@using Application.Data.Models
@using Microsoft.AspNetCore.Identity
@using Application.Services.Contracts
@using System.Security.Claims;
@inject IUsersService usersService
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
    @if (this.SignInManager.IsSignedIn(this.User))
    {
        <li class="nav-item">
            @{
                var profileImagePath = usersService.GetUserImages(this.User.FindFirst(ClaimTypes.NameIdentifier).Value).ProfileImagePath;

                if (profileImagePath == null)
                {
                    <img src="~/images/DefaultProfileImage.png" alt="user" class="profile-photo-md float-left">
                }
                else
                {
                    <img src="@profileImagePath" alt="user" class="profile-photo-md float-left">
                }
            }

            <a class="nav-link text-dark float-right" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @this.User.Identity.Name!</a>
        </li>
        if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="Administration" asp-controller="Dashboard" asp-action="Index" title="Admin">Admin</a>
            </li>
        }
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@this.Url.Action("Index", "Home", new { area = string.Empty })">
                <button type="submit" class="nav-link btn btn-link text-dark">
                    <i class="fa fa-sign-in-alt fa-pull-left" aria-hidden="true"></i>
                    Logout
                </button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            
            <a class="nav-link text-dark fa-pull-right" asp-area="Identity" asp-page="/Account/Register">
                <i class="fa fa-user-plus fa-pull-left" aria-hidden="true"></i>
                Register
            </a>
        </li>
        <li class="nav-item">
            
            <a class="nav-link text-dark fa-pull-right" asp-area="Identity" asp-page="/Account/Login">
                <i class="fa fa-sign-in-alt fa-pull-left" aria-hidden="true"></i>
                Login
            </a>
        </li>
    }
</ul>
