@using Application.Common
@using Application.Web.ViewModels.Home
@model HomeViewModel
@{
    this.ViewData["Title"] = "Home Page";
}

<!-- Intro section -->
<section class="intro-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="section-title">
                    <h2>Welcome to Application</h2>
                </div>
            </div>
            <div class="col-lg-6">
                <div>
                    <p>There are @Model.UsersCount users in the app.</p>
                </div>
                <a asp-area="Identity" asp-page="/Account/Register" class="site-btn">Join us now</a>
            </div>
        </div>
    </div>
</section>
<!-- Intro section end -->
