@{
    ViewData["Title"] = "Home Page";
}
@using Application.Web.ViewModels;
@model UsersCountViewModel

<div class="text-center">
    <h1 class="display-4">Welcome to my app</h1>
    <p>There are @Model.Count users registered</a>.</p>
</div>
