@{
    ViewData["Title"] = "Register Page";
}
@using Application.Web.ViewModels;
@model RegisterInputModel

<div class="col-lg-6 offset-lg-3">
    <h class="row justify-content-center">Register</h>
</div>


<form method="post" class="col-lg-6 offset-lg-3">
    <div class="row justify-content-center">

        <div class="col-md-12" class="form-group">
            <label asp-for="Email"></label>
            <input asp-for="Email" name="email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="col-md-12">
            <label asp-for="Username"></label>
            <input asp-for="Username" name="username" class="form-control" />
            <span asp-validation-for="Username" class="text-danger"></span>
        </div>

        <div class="col-md-12">
            <label asp-for="Password"></label>
            <input asp-for="Password" name="password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>

        <div class="col-md-12">
            <label asp-for="ConfirmPassword"></label>
            <input asp-for="ConfirmPassword" name="confirmPassword" class="form-control" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>

        <div class="col-md-12">
            <label asp-for="PasswordHint"></label>
            <input asp-for="PasswordHint" name="passwordHint" class="form-control" />
            <span asp-validation-for="PasswordHint" class="text-danger"></span>
        </div>

        <div class="col-md-12">
            <label asp-for="FirstName"></label>
            <input asp-for="FirstName" name="firstName" class="form-control" />
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>

        <div class="col-md-12">
            <label asp-for="LastName"></label>
            <input asp-for="LastName" name="lastName" class="form-control" />
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>

        <div class="col-md-12">
            <label asp-for="DateOfBirth"></label>
            <input asp-for="DateOfBirth" name="dateOfBirth" class="form-control   />
            <span asp-validation-for="DateOfBirth" class="text-danger"></span>
        </div>

        <div class="col-md-12">
            <button type="submit" class="btn btn-primary">Sign up</button>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}